<div class="min-h-screen min-w-screen font-lovelace p-12 flex flex-col items-center justify-center mt-20">
  <p class="text-5xl mb-10 text-center">Samples of My Work</p>
  <p class="text-xl mb-10 text-center w-1/2">Welcome to a showcase of my personal work—an exploration of two projects,
    that I've crafted and refined, featuring interactive previews of my website through live
    iframes.</p>

  <div class="relative w-2/3 h-[750px] ">
    <div
      class="w-5/6 opacity-50 absolute left-24 cursor-pointer hover:border-black hover:border shadow-xl animate-pulse transition-all ease-in-out duration-500 hover:scale-105"
      {{on "click" this.setActiveProject}}>
      <div class="flex bg-gray-100 border shadow-lg h-8 justify-start items-center space-x-2 px-2">
        <div class="bg-red-500 hover:bg-red-200 h-5 w-5 rounded-full"></div>
        <div class="bg-yellow-500 hover:bg-yellow-200 h-5 w-5 rounded-full"></div>
        <div class="bg-green-500 hover:bg-green-200 h-5 w-5 rounded-full"></div>
      </div>
      <div class="h-[500px] shadow-lg">
        <iframe class="w-full h-full pointer-events-none overflow-hidden" src={{this.inActiveProject.url}}
                title={{this.inActiveProject.name}}></iframe>
      </div>
    </div>

    <div class="w-full my-6 absolute z-10 bottom-10">
      <div class="flex bg-gray-100 border shadow-lg h-8 justify-start items-center space-x-2 px-2">
        <div class="bg-red-500 h-5 w-5 rounded-full hover:bg-red-200"></div>
        <div class="bg-yellow-500 hover:bg-yellow-200 h-5 w-5 rounded-full"></div>
        <div class="bg-green-500 hover:bg-green-200 h-5 w-5 rounded-full"></div>
      </div>
      <div class="h-[500px] shadow-lg w-full bg-white">
        <iframe class="no-scrollbar w-full h-full" src={{this.activeProject.url}}
                title={{this.activeProject.name}}></iframe>
      </div>
    </div>
  </div>
</div>